name: Build openDAQ SDK documentation
on:
  workflow_dispatch:

env:
  site_path: ${{ github.workspace }}/build/site/
  site_zip: ${{ github.workspace }}/build/user_guide.zip

jobs:
  build_documentation:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz

      - name: Generate Doxyfile
        run: |
          cd docs/Doxygen
          python doxyfile_fill.py
          cp Doxyfile.in Doxyfile
          # Verify Doxyfile exists
          ls -l
          cat Doxyfile

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Antora and extensions
        run: |
          npm install \
            antora \
            @asciidoctor/tabs \
            @springio/antora-extensions \
            @antora/lunr-extension \
            git+https://gitlab.com/scphantm/antora-apidocs-extension.git \
            glob-stream

      - name: Run Antora
        run: npx antora antora-playbook.yml --stacktrace

      - name: Compress Documentation
        working-directory: ${{ env.site_path }}
        run: zip -r ${{ env.site_zip }} .

      - uses: actions/upload-artifact@v4
        with:
          name: openDAQ_SDK_User_Guide
          path: ${{ env.site_zip }}
          retention-days: 7
