name: Build openDAQ SDK documentation
on:
  workflow_dispatch:

env:
  site_path: ${{ github.workspace }}/build/site/
  site_zip: ${{ github.workspace }}/build/user_guide.zip

jobs:
  build_documentation:
    runs-on: ubuntu-22.04
    name: Build SDK Documentation
    timeout-minutes: 3
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen documentation dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends doxygen graphviz wget zip

      - name: String replace
        run: |
          cd docs/Doxygen
          python doxyfile_fill.py

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Antora
        run: npm i antora

      - name: Install Antora extensions
        run: |
          npm i @asciidoctor/tabs
          npm i @springio/antora-extensions
          npm i @antora/lunr-extension
          npm i git+https://gitlab.com/scphantm/antora-apidocs-extension.git
          npm i glob-stream

      - name: Install Doxygen
        run: |
          sudo apt-get update
          sudo apt-get install doxygen

      - name: Run Antora
        run: npx antora antora-playbook.yml --stacktrace

      - name: ls
        run: ls

      - name: tree
        run: tree

      - name: Compress Documentation
        working-directory: ${{ env.site_path }}
        run: zip -r ${{ env.site_zip }} .

      - uses: actions/upload-artifact@v4
        with:
          name: openDAQ_SDK_User_Guide
          path: ${{ env.site_zip }}
          retention-days: 7
