name: Build openDAQ SDK documentation
on:
  workflow_dispatch:

env:
  site_path: ${{ github.workspace }}/build/site/
  site_zip: ${{ github.workspace }}/build/user_guide.zip

jobs:
  build_documentation:
    runs-on: ubuntu-22.04
    name: Build SDK Documentation
    timeout-minutes: 3
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Clone ASAM extensions
        run: git clone https://github.com/aljazfrancic/asam-antora-extensions.git

      - name: Initialize package.json in asam-antora-extensions
        working-directory: ./asam-antora-extensions
        run: npm init -y

      - name: Create root package.json and install all dependencies
        run: |
          npm install \
          adm-zip \
          bibtex \
          citeproc \
          @citation-js/plugin-bibtex/node_modules/@citation-js/core \
          @citation-js/plugin-bibtex \
          xmlhttprequest \
          jsdom \
          child_process \
          jquery \
          @antora/logger \
          vinyl \
          antora \
          @asciidoctor/tabs \
          @springio/asciidoctor-extensions \
          ./asam-antora-extensions

      - name: Run Antora
        run: npx antora antora-playbook.yml --stacktrace

      - name: Compress Documentation
        working-directory: ${{ env.site_path }}
        run: zip -r ${{ env.site_zip }} .

      - uses: actions/upload-artifact@v4
        with:
          name: openDAQ_SDK_User_Guide
          path: ${{ env.site_zip }}
          retention-days: 7
